*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

button{
    border: none;
    font: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit; 
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(47, 79, 79);
    overflow-x: hidden;
    
}

.header{
    background-color: rgb(211, 211,211);   
    position: fixed;
    width: 100%;
    height: 100px;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo{
    max-width: 150px;
    max-height: 150px;
    margin-top: 15px;
}

.nav{
    transition: all 0.3s ease-in-out;
}

.nav_list{
    display: flex;
    column-gap: 20px;
}

.nav_item{
}

.link{
    color: rgba(184, 134, 11, 0.75);
    font-size: 20px;
}
.link:hover{
    color: rgba(184, 134, 11, 1);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 27px;
    background-color: rgba(184, 134, 11, 0.75);
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.homer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}
.profile{
    max-width: 30%;
    max-height: 20%;
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0  3px 3px rgba(0, 0, 0, 0.15 );
}


.hero_text{
    max-width: 500px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    color: white;
    font-size: large;
}

.hero_text h2 span{
    color: rgba(184, 134, 11, 1) ;
    font-size: 30 px;
}
.hero_text h1{
    color: rgba(184, 134, 11, 1) ;
    font-size: 40px;
}

.container{
    max-width: 1200px;
    padding: 300px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.card{
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgb(240, 248,255);
    box-shadow: 0  3px 3px rgba(0, 0, 0, 0.15 );
    display: flex;
    flex-direction: column;

}

.card:nth-of-type(1) {
    flex: 1 300px;
}

.card:nth-of-type(2) {
    flex: 1 300px;
}

.card:nth-of-type(3) {
    flex: 1 300px;
}

.img{
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}

.heading{
    margin: 10px 0 15px;
}

.description{
    margin-bottom: 10px;
}

.btn{
    border-radius: 100px;
    background-color: rgba(184, 134, 11, 0.75);
    color: white;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: auto ;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(184, 134, 11, 1);
}

.download{
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 12px;
    margin-top: auto ;
    background-color: rgba(184, 134, 11, 0.75);
}

.contact{
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 12px;
    margin-top: auto ;
    background-color: rgba(184, 134, 11, 0.75);

}

.nav--open{
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2){
    opacity: 0;
}

.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/* styles.css */

.section {
    padding: 4em 0;
}

.top-header {
    text-align: center;
    margin-bottom: 2em;
}

.top-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.top-header span {
    font-size: 18px;
    color: #666;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: 45%;
    margin: 10px;
}

.contact-info {
    background-color: rgba(184, 134, 11, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin-top: 0;
}

.contact-info p {
    margin-bottom: 20px;
}

.form-control {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-inputs {
    font: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-field {
    font-family: inherit;
    width: 45%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text-area {
    margin: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: rgba(184, 134, 11, 0.75);
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}

.footer-social-icons{
    display: flex;
    gap: 30px;   
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
}

/* Responsive design */


@media (max-width: 650px){
    .nav{
        background-color: rgb(211, 211,211); 
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 10px 0 25px;
        left: 0;
        transform: translateX(-100%);
    }

    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .hamburger{
        display: block;
    }

    .profile{
        display: none;
    }
    .form-inputs {
        flex-direction: column;
    }
    .input-field {
        width: 100%;
        margin: 10px 0;
    }
}