*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

button{
    border: none;
    font: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit; 
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(105, 105, 105);
    overflow-x: hidden;
    
}

.header{
    background-color: rgb(211, 211,211);   
    position: fixed;
    width: 100%;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo{
    max-width: 150px;
    max-height: 100px;
}

.nav{
    transition: all 0.3s ease-in-out;
}

.nav_list{
    display: flex;
    column-gap: 20px;
}

.nav_item{
}

.link{
    color: rgba(184, 134, 11, 0.75);
    font-size: 20px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 27px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.homer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}
.profile{
    max-width: 50%;
    max-height: 60%;
    transition: 0.5s;
}
.profile :hover{
    transform: scale(1.2);
}

.hero_text{
    max-width: 500px;
    display:flex;
    flex-direction: column;
}
.hero_text h5{
    color: ;
    font-size: 18px;
}

.hero_text h5 span{
    color: ;
    font-size: 30 px;
}
.hero_text h1{
    color: ;
    font-size: 40px;
}

.container{
    max-width: 1200px;
    padding: 300px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

.card{
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0  3px 3px rgba(0, 0, 0, 0.15 );
    display: flex;
    flex-direction: column;

}

.card:nth-of-type(1) {
    flex: 1 300px;
}

.card:nth-of-type(2) {
    flex: 1 300px;
}

.card:nth-of-type(3) {
    flex: 1 300px;
}

.img{
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
}

.heading{
    margin: 10px 0 15px;
}

.description{
    margin-bottom: 10px;
}

.btn{
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 12px;
    margin-top: auto ;
}



.nav--open{
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2){
    opacity: 0;
}

.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}
@media (max-width: 650px){
    .nav{
        background-color: rgb(60,179,113); 
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 10px 0 25px;
        left: 0;
        transform: translateX(-100%);
    }

    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .hamburger{
        display: block;
    }
}